<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fontawesome-free-5.15.1-web/css/all.min.css">
    <title>Chaves</title>
</head>

<body>
    <div class="container">
        <div>
            <header class="d-flex flex-wrap justify-content-center py-3 ">
                <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <img src="key.png" alt="" width="40" height="32">
                    <span class="fs-4">Sistema de Chaves</span>
                </a>
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="#" class="nav-link" aria-current="page">Jadson Kendson</a></li>
                </ul>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5 border-bottom">

            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <button type="button" id="btnCadastrarChave" class="btn btn-warning "> <i class="fas fa-plus"></i> <i class="fas fa-key"> </i> CADASTRAR CHAVE</button>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- ===== LISTAGEM DE CHAVES ===== -->

        <main>
            <div id="listagem" class="d-flex flex-wrap"></div>

        </main>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        listarChaves();

        function listarChaves() {

            $.ajax({
                type: 'GET',
                url: 'api/cadastro'
            }).done(function(data) {
                let html = '';
                console.log(data);

                for (let item of data) {
                    if (item.status == 1) {
                        html += '<div class="row col-4  mb-4 text-center m-0" >'
                        html += '<div class="col">'
                        html += '<div class="card mb-4 rounded-3 shadow-sm border-success">'
                        html += '<div class="card-header bg-success py-3" style="color: white;">'
                        html += '<h4 class="my-0 fw-normal"><i class="fas fa-key" style="color: #FFCA2C"></i> CHAVE ' + item.numero_chave + '</h4>'
                        html += '</div>'
                        html += '<div class="card-body">'
                        html += '<ul class="list-unstyled mt-3 mb-4">'
                        html += '<li><h3>' + item.sala + '</h3> Chave livre para emprestimo</li>'
                        html += '</ul>'
                        html += '<button type="button" class="w-100 btn btn-lg btn-success" onclick="emprestar(' + item.id + ')">Emprestar</button>'
                        html += '</div>'
                        html += '</div></div></div>'
                            // html +=
                            //     html +=
                    } else {
                        html += '<div class="row col-4  mb-4 text-center m-0" >'
                        html += '<div class="col">'
                        html += '<div class="card mb-4 rounded-3 shadow-sm border-danger">'
                        html += '<div class="card-header bg-danger py-3" style="color: white;">'
                        html += '<h4 class="my-0 fw-normal"><i class="fas fa-key" style="color: #FFCA2C"></i> CHAVE ' + item.numero_chave + '</h4>'
                        html += '</div>'
                        html += '<div class="card-body">'
                        html += '<ul class="list-unstyled mt-3 mb-4">'
                        html += '<li><h3>' + item.sala + '</h3> Chave emprestada.</li>'
                        html += '</ul>'
                        html += '<button type="button" class="w-100 btn btn-lg btn-danger" ' + item.id + ' onclick="devolver(' + item.id + ')">Devolver</button>'
                        html += '</div></div></div></div>'
                    }
                }
                $('#listagem').html(html)

            }).fail(function(data) {
                alert(Error)
            })
        }


        function emprestar(data) {
            console.log(data)
            for (var i = 0; i < data.length; i++) {
                if ($(this).attr('id') == data[i].id) {
                    console.log($(this).attr('id'))

                    var chaves = data[i].status
                    console.log(chaves)
                }
            }


            // $.ajax({
            //     url: 'api/chaves',
            //     type: 'put',
            //     data: JSON.stringify({ disponivel: false, id_chave: data}),
            //     contentType: 'application/json'
            // }).done(function (data2) {
            //     console.log(data2);
            //     listarChaves()

            // }).fail(function (erro) {
            //     console.log('erro na atualização do status (put do ajax) para false');
            // })



            $.ajax({
                url: 'api/cadastro',
                type: 'put',
                data: JSON.stringify({
                    status: false,
                    idStatus: data
                }),
                contentType: 'application/json'

            }).done(function(data) {
                console.log('entrou')
                listarChaves()
            }).fail(function(error) {

                console.log('erro' + error)
            })
        }

        function devolver(data) {
            console.log(data);
            for (var i = 0; i < data.length; i++) {
                if ($(this).attr('id') == data[i].id) {
                    console.log($(this).attr('id'))
                    console.log('teste')

                    var chaves = data[i].status
                    console.log(chaves);
                    console.log('teste 2')

                }
            }

            $.ajax({
                url: 'api/cadastro',
                type: 'PUT',
                data: JSON.stringify({
                    status: true,
                    idStatus: data
                }),
                contentType: 'application/json'

            }).done(function() {
                listarChaves()
            }).fail(function(error) {

                console.log('erro' + error)
            })
        }

        $('#btnCadastrarChave').click(function() {
            window.location = '/cadastro'
        })
    </script>
</body>

</html>